@media(max-width: 1480px) {
    .product-list .img-wrapper{
        height: 130px;
        width: 130px;
    }
    .login-link{
        font-size: 24px;
    }
    .want-to-repair {
        padding: 50px 0;
    }
    .header{
        padding: 15px;
    }
    .site-logo{
        width: 100px;
        height: auto;
    }
    h2{
        font-size: 30px;
    }
    .filter-wrapper.nav-tabs .nav-link {
        font-size: 20px;
    }
    .filter-wrapper {
        padding-bottom: 30px;
    }
    .offer-wrapper .offer-inner h2 {
        font-size: 48px;
    }
    .offer-wrapper .offer-inner .price {
        font-size: 80px;
        padding-top: 0;
    }
    .offer-wrapper .offer-inner ul li {
        font-size: 22px;
        padding-left: 40px;
    }
    .offer-wrapper .offer-inner ul {
        padding: 30px 0;
    }
    .offer-wrapper .offer-inner{
        padding: 35px 30px;
    }
    .offer-wrapper .premium.offer-inner-wrapper .offer-inner{
        padding: 60px 30px;
    }
    .book-with-us {
        padding: 50px 0 0;
    }
    .book-with-us .wrapper .left .title h2{
        font-size: 24px;
    }
    .book-with-us .wrapper .left .text-blk p {
        font-size: 20px;
    }
    .testimonial,
    .issue-selction-wrapper {
        padding: 50px 0;
    }
    footer{
        padding: 50px 0;
    }
    footer h4{
        font-size: 22px;
        margin-bottom: 15px;
    }
    footer .footer-top li a,
    footer .footer-bottom p{
        font-size: 20px;
    }
    footer .footer-top li:not(:last-child) {
        padding-bottom: 10px;
    }
    footer .footer-top {
        margin-bottom: 50px;
    }
    .product-list h3{
        font-size: 20px;
    }
    .product-item {
        padding: 0 15px;
        text-align: center;
    }
    .product-list.slick-dotted.slick-slider{
        margin: 0 -15px;
    }
    .btn span{
        font-size: 24px;
    }
    .btn {
        padding: 15px 15px;
    }
    .testimonial .slider-item .content p{
        font-size: 16px;
    }
    .issue-selection-option.product-list .product-item {
        padding: 0 20px 40px;
    }
    .advertise-item p,
    .profile-wrapper .user-detail p,
    .profile-form label {
        font-size: 22px;
    }
    .advertise-item span,
    .issue-header .form-control{
        font-size: 20px;
    }    
    .advertise-item span.badge,
    .profile-wrapper .user-detail span{
        font-size: 18px;
    }
    .login-tabs.nav-tabs .nav-item .nav-link{
        font-size: 20px;
    }
    .modal-content{
        padding: 30px;
        margin: 0 30px;
    }
}

@media(max-width:1199px){
    .product-list {
        flex-wrap: wrap;
    }
    .slick-dotted.slick-slider{
        margin: 0;
    }
    .product-list .slider-item img{width: 100%;}
    .product-list .slick-dots {
        bottom: -20px;
    }
    .product-list .slick-dots li{
        margin: 0 10px 0 0;
    }
    .product-list .slick-dots li button:before{
        opacity: 1;
        color: transparent;
        font-size: 12px;

    }
    .product-list .slick-dots li,
    .product-list .slick-dots li button{
        padding: 0;
        width: 5px;
        height: 5px;
        background: #2F695D;
        border-radius: 50%;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }
    .product-list .slick-dots li.slick-active button:before{
     color: transparent;
    }
    .product-list .slick-dots li.slick-active,
    .product-list .slick-dots li.slick-active button{
        width: 20px;
        border-radius: 45px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
    }
    .offer-wrapper .offer-inner{
        padding: 25px 20px; 
    }
    .offer-wrapper .premium.offer-inner-wrapper .offer-inner{
        padding: 60px 20px 30px; 
    }
    .offer-wrapper .offer-inner h2 {
        font-size: 38px;
    }
    .filter-wrapper.nav-tabs .nav-link {
        margin-bottom: 20px;
    }
    .offer-wrapper .offer-inner .price {
        font-size: 60px;
    }
    .offer-wrapper .offer-inner .price span, .offer-wrapper .offer-inner .price sub {
        font-size: 50px;
    }
    .offer-wrapper .offer-inner ul li {
        font-size: 18px;
    }
    .offer-wrapper{margin: 0 -15px;}
    .offer-wrapper .offer-inner-wrapper {
        padding: 0 15px;
    }
    .login-wrapper {
        max-width: 320px;
        min-height: 500px;
        align-items: center;
     
    }
    .login-wrapper h2 {
        font-size: 30px;
      
    }
    .login-tabs.nav-tabs .nav-item .nav-link {
        font-size: 16px;
    }
    .login-inner p {
        padding: 15px 0;
    }
    .login-inner .form-control,
    .login-inner .form-group span {
        font-size: 22px;
    }
    .login-inner .form-group {
        margin-bottom: 25px;
    }
    .book-with-us .wrapper .left .text-blk p {
        font-size: 18px;
    }
    .profile-wrapper {
        margin-top: 70px;
        PADDING: 70px 30px 50px;
    }
    .profile-wrapper .left-col img {
        width: 195px;
        height: 195px;
     
    }
    .profile-wrapper .left-col .user-detail {
        padding-left: 30px;
    }
    .advertise-item p, .profile-wrapper .user-detail p, .profile-form label {
        font-size: 18px;
    }
    .advertise-item span.badge, .profile-wrapper .user-detail span {
        font-size: 16px;
    }
    
}
@media(max-width:991px){
    .offer-wrapper {
        margin: 0 -15px;
        flex-wrap: wrap;
    }
    .offer-wrapper .offer-inner-wrapper {
        /* flex: 0 0 50%;
        max-width: 50%; */
        padding: 0 20px;
        margin-bottom: 20px;
    }
    /* .offer-wrapper .offer-inner-wrapper.premium{
        flex: 0 0 100%;
        max-width: 100%;
        order: 3;
    } */
    .book-with-us .book-item {
        margin-bottom: 20px;
    }
    .book-with-us .wrapper .left .title h2:before {
        top: 10px;
    }
    .book-with-us {
        padding: 50px 0;
    }
    footer .footer-top li a, footer .footer-bottom p {
        font-size: 18px;
    }
    .profile-page .product-list {
        display: inherit;
     
    }
    .issue-header .form-control {
        width: 390px;
    }
    .advertise-item-wrap {
        padding: 0 10px;
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 20px;
    }
    .advertise-wrap{
        margin: 0 -10px;
    }
    .map-blk {
        width: 320px;
    }
    
}
@media(max-width:767px){
    h2 {
        font-size: 28px;
    }
    .modal-content {
        padding: 20px;
        margin: 0 20px;
        border-radius: 20px;
    }
    .modal-content .modal-body{padding: 0;}
    .login-wrapper h2 {
        font-size: 22px;
    }
    .login-tabs.nav-tabs .nav-item .nav-link {
        font-size: 11px;
    }
    .login-wrapper {
        padding: 20px;
        border-radius: 20px;
        padding-top: 40px;
    }
    .login-inner .form-control {
        padding: 12px 20px 12px 40px;
    }
    .login-inner .form-control, .login-inner .form-group span {
        font-size: 12px;
    }
    .login-inner .form-group {
        margin-bottom: 15px;
    }
    
    #LoginModal .modal-content{
        padding: 0;
        border: none;
    }
    .modal .close {
        top: 10px;
        right: 10px;
    }
    #LoginModal .modal-wrapper {
        /* background-size: 70%;
        background-position: top;
        flex-wrap: wrap;
        padding-top: 70%; */
        padding: 0;
    }
    .login-wrapper {
        max-width: 100%;
        min-height: 100%;
        align-items: center;
        margin-top: 0;
        display: block;
    }
    .offer-wrapper .offer-inner,
    .offer-wrapper .premium.offer-inner-wrapper .offer-inner {
        padding: 35px 20px;
    }
    .offer-wrapper .offer-inner h2 {
        font-size: 30px;
        padding-bottom: 10px;
    }
    .offer-wrapper .offer-inner .price {
        font-size: 50px;
    }
    .offer-wrapper .offer-inner .price span, .offer-wrapper .offer-inner .price sub {
        font-size: 40px;
    }
    .offer-wrapper{
        margin: 0 -20px;
    }
    .offer-wrapper .offer-inner-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
        /* padding: 0; */
    }
    .book-with-us .wrapper {
     
        flex-wrap: wrap;
    }
    .book-with-us .wrapper{flex-direction: column-reverse;}
    .book-with-us .wrapper :is(.left,.right){flex: 0 0 100%;max-width: 100%;}
    .book-with-us .wrapper .right{margin-bottom: 20px;}
    .book-with-us,
    .want-to-repair,
    .go-green,
    .testimonial, 
    .issue-selction-wrapper,
    footer {
        padding: 30px 0;
    }
    footer .wrapper {
        flex-wrap: wrap;
    }
    footer .footer-top li a, footer .footer-bottom p {
        font-size: 14px;
    }
    footer h4 {
        font-size: 18px;      
    }
    footer .footer-top {
        margin-bottom: 30px;
    }
    footer .footer-bottom .wrapper .logo{flex: 0 0 100%;max-width: 100%;text-align: center;margin-bottom: 20px;}    
    footer .footer-bottom .wrapper .text{flex: 0 0 100%;max-width: 100%;order: 3;margin-top: 20px;} 
    footer .footer-bottom .wrapper .text p{font-size: 12px;text-align: center;}
    footer .footer-bottom .wrapper .social-links{flex: 0 0 100%;max-width: 100%;padding-left: 0;margin-bottom: 20px;}
    footer .footer-bottom .wrapper .social-links ul{justify-content: center;}
    footer .footer-bottom .wrapper .logo img{max-width: 100px;}
    .line-left {max-width: 100%;flex: 0 0 100%;order: 2;}
    .offer-wrapper .offer-inner span.badge {font-size: 12px;}
    .testimonial .slider-item {
        padding: 22px 15px 25px 15px;
        margin: 0 10px;
        border-radius: 20px;
    }
    .testimonial .slider-item .profile-title h5{
        font-size: 16px;
    }
    .testimonial .slider-item .author .profile {
        margin-right: 15px;
    }
    .site-logo {
        width: 80px;
     
    }
    .login-link {
        font-size: 18px;
    }
    .issue-header {
        flex-wrap: wrap;
    }
    .issue-header .form-control {
        width: 100%;
    }
    .advertise-item-wrap {
        padding: 0;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .issue-selection-option.product-list .product-item {
        padding: 0 20px 40px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .modal h2 {
        font-size: 28px;
    }
    .inner-issue {
        flex-wrap: wrap;
    }
    .inner-wrapper .badge-outer {
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .inner-wrapper .badge {
        font-size: 19px;
    }
    .description li {
        font-size: 18px;
    }
    .description {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .inner-wrapper textarea {
        font-size: 18px;height: 128px;
    }
    .inner-wrapper .policy-link a {
        font-size: 18px;
    }
    .inner-wrapper .policy-link {
        margin-bottom: 20px;
        padding-bottom: 0;
    }
    .profile-wrapper {
        margin-top: 40px;
        PADDING: 70px 30px 50px;
        flex-wrap: wrap;
    }
    .profile-wrapper .left-col {
        display: flex;
        align-items: center;
        max-width: 100%;
        flex: 0 0 100%;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .profile-wrapper .right-col {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .profile-wrapper .left-col .user-detail {
        padding-left: 0;
        width: 100%;
    }
    .profile-wrapper .left-col img {
        margin: 0 auto;
    }
    .edit-tabs.login-tabs.nav-tabs .nav-item .nav-link {
        margin-bottom: 15px;
    }
    .profile-form {
        padding-top: 20px;
    }
    .map-blk {
        display: none;
    }
    #LoginModal .close span path{
        fill: #ffffff;
    }
    .modal#LoginModal .modal-dialog{
        max-width: 400px;
    }
}
@media(max-width:480px){
    .offer-wrapper .offer-inner ul li:before{
        height: 20px;
        width: 20px;
        background-size: 100%;
    }
    .offer-wrapper .offer-inner ul li {
        font-size: 16px;
        padding-left: 27px;
    }
    .offer-wrapper .offer-inner-wrapper{
        padding: 0 10px;
    }
    .offer-wrapper {
        margin: 0 -10px;
    }
    .offer-wrapper .offer-inner {
        padding: 15px;
        border-radius: 20px;
    }
    .offer-wrapper .premium.offer-inner-wrapper .offer-inner{
        padding: 40px 15px 15px;
    }
    .offer-wrapper .offer-inner span.badge{
        padding: 5px 10px;
        right: 10px;
        top: 10px;
        font-size: 10px;
    }
    .offer-wrapper .offer-inner .price {
        font-size: 46px;
    }
    .btn {
        padding: 10px 15px;
    }
    .btn span {
        font-size: 20px;
    }
    footer .wrapper .left,
    footer .wrapper .center{flex: 0 0 50%;max-width: 50%;}
    footer .wrapper .right{flex: 0 0 100%;max-width: 100%;}
    footer .wrapper .right {
        margin: 20px 0;
    }
    
}